.page-shoppingcart{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.resumo-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

.page-title span{
  font-size: 19px;
  font-weight: 550;
}
.items-price span:nth-child(1){
  color: #494949
}

.item1{
  display: flex;
  width: 80vw;
  padding: 10px 0;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.img1{
  width: 150px;
}

.image{
  height: 120px;
}

.conteudo-item1{
  width: 80vw;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.tour-price, .date, .quantidade ,.promo-code, .subtotal, .taxes, .total{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icons-heart-bin{
  display: flex;
  justify-content: center;
}

.tour-price span{
  font-weight: bold;
}

select{
  border: none;
}


.summary-div{
  width: 80vw;
}

.summary-title{
  font-size: 19px;
  font-weight: 550;
  margin: 10px 0;
}

.redirect-div{
  display: flex;
  justify-content: space-between;
}

.continuar-compra, .finalizar-compra{
  background: var(--laranja);
  border:1px solid  var(--laranja);
  border-radius: 50px;
  padding: 5px;
  margin-top: 5px;
}

.continuar-compra:hover,
.finalizar-compra:hover{
  background-color: var(--laranja-hover);;
}

.continuar-compra-link, .finalizar-compra-link{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.continuar-compra-link:hover, .finalizar-compra-link:hover{
  text-decoration: none;
  color: #000000;
}

  