.options{
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    height: 3rem;
    background: var(--laranja);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.options a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    width: fit-content;
}

.options a::after{
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #000;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

.options a:hover::after{
    width: 100%;
}



