/* .options{
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    height: 3rem;
    background: var(--laranja);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.options button{
    background: var(--laranja);
    font-weight: bold;
    width: fit-content;
    border: none;
}

.options button::after{
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #000;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

.options button:focus::after{
    width: 100%;
} */

.main-tabs{
    margin: 2rem 1rem;
/*     border: none; */

}

.nav-link{
    color: #000;
    border: none;

}

/*.nav-tabs:hover */.nav-link:hover{
    font-weight: bold;
    /* border: none; */
    color: #000;
}

.nav.nav-tabs .nav-link.active {
    background: var(--laranja);
    color: #000;
    font-weight: bold;

}

/* .nav .nav-pills .nav-link.active:active,
.nav .nav-tabs .nav-link.active:active{
    color: #000;
    font-weight: bold;
    border: none;
    background: var(--laranja);
} */

/* .nav-tab.active:active,
.nav-link.active:active{
    color: #000;
    font-weight: bold;
    border: none;
    background: var(--laranja);
} */

