.recover-container{
    margin: 2rem auto;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    width: 70%;
}

.recover-title{
    background: var(--laranja);
    color: #000;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.recover-logo{
    display: flex;
    justify-content: center;
}
.recover-logo img{
    height: 200px;
}

form{
    display: flex;
    flex-direction: column;
}
label{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.email-input {
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    height: 35px;
    padding: 15px;
}

.button-div{
    display: flex;
    justify-content: center;
}
.button-submit{
    width: 115px;
    margin-top: 30px;
    border-radius: 20px;
    background: var(--laranja);
    border: 1px solid var(--laranja);
    font-weight: bold;
}

.back-login{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}
