.insert-container{
    margin: 2rem auto;
    border: 1px solid #555;
    border-radius: 15px;
    max-width: 440px;
}

.insert-title{
    background: var(--laranja);
    color: #000;
    font-weight: bold;
    border: 1px solid #555;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    height: 200px;
}

form{
    display: flex;
    flex-direction: column;
}
label{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.tour-name-input ,
.price-input,
.localizacao-input, 
.duracao-input,
.descricao-input,
.categoria-input,
.horarios-input{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height: 35px;
    padding: 15px;
    outline: none;
    cursor: pointer;
}

.tour-name-input:hover,
.price-input:hover,
.localizacao-input:hover,
.duracao-input:hover,
.descricao-input:hover,
.categoria-input:hover,
.horarios-input:hover,
.insert-data select:hover{
    border: 1px solid #000;
}

.file-input{
    margin-left: 15px;
}

.button-div{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.button-submit{
    width: 115px;
    margin-top: 30px;
    border-radius: 20px;
    background: var(--laranja);
    border: 1px solid var(--laranja);
    font-weight: bold;
}

.button-submit:hover {
    background: var(--laranja-hover);
}

.message{
    margin: 0 auto;
}

.insert-data select{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height: 35px;
    padding-left: 1rem;
    outline: none;
    cursor: pointer;
}


#css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    height: 35px !important;
    height: auto;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 8px 14px !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border: 1px solid #555 !important;
    top: 0 !important;
}

.css-14lo706{
    display: none !important;
}