.dados-cadastrais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
    margin: 3rem auto;
}

.user-photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    gap: 1rem;
}

input.arquivo {
    position: absolute;
    display: none;
}

img.picture {
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.editar-perfil{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.editar-perfil button{
    background: var(--laranja);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid var(--laranja);
    padding: .25rem;
}

.dados-Nome,
.dados-NIF,
.dados-Morada,
.dados-Nacionalidade,
.dados-Fornecedor,
.dados-IBAN{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #ddd;
    height: 3rem;
}

.dados-Nome,
.dados-NIF,
.dados-Morada,
.dados-Nacionalidade,
.dados-Fornecedor{
    border-bottom: none;
}

div span:nth-child(1){
    font-weight: bold;
}