.dados-cadastrais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 3rem auto;
}

.dados-Nome,
.dados-Email,
.dados-Password,
.dados-Nacionalidade,
.dados-Fornecedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #ddd;
    height: 3rem;
}

.dados-Nome,
.dados-Email,
.dados-Password,
.dados-Nacionalidade{
    border-bottom: none;
}

div span:nth-child(1){
    font-weight: bold;
}