.wrap-submenu{
    margin: 0 2rem;
}

.submenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    gap: 4rem;
}

.submenu button{
    border: none;
    background: none;
    
}

.submenu button::after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #000;
    content: "";
    display: block;
    
    height: 2px;
    width: 0;
    
}

.submenu button:focus{
    font-weight: bold;
}

.submenu button:focus::after{
    width: 100%;
}

.tab-servicos{
    margin-top: 1rem;
}
