.categorias{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--laranja);
    padding-left: 1rem;
    padding-right: 1rem;
}

.categorias img{
    height: 30px;
}

.barcos,
.surf,
.kayak,
.trilhas,
.city{
    display: flex;
    flex-direction: column;
}

