.page-checkout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  margin-left: 5%;
  width: 90vw;
  align-items: center;
  font-family: sans-serif;
}

.voltar{
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  align-self: flex-start;
}

.voltar::after {
  content: "Voltar";
  margin-left: 5px;
  vertical-align: text-top;
}

.voltar:hover{
  text-decoration: none;
  color: black;
}

.resumo-top{
  width: 90%;
}
.checkout{
  font-size: 19px;
  font-weight: 550;
}

.items span:nth-child(1){
  color: rgb(73, 73, 73)
}

.payment-div{
  width: 90%;
  display: flex;
  font-weight: bold;
}

.cartao-de-credito, .mbway, .paypal, .crypto-div{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.icon-title{
  display: flex;
}

img{
  margin-right: 8px;
}

.payment-order{
  display: flex;
  justify-content: center;
  width: 100%;
}

.pay-button{
  width: 300px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  background: #84c253;
  border-radius: 50px;
  border: 1px solid #84c253;
  margin-top: 20px;
}
.pay-button:hover{
  background: #71a847;
}

.credit-card-input, #mbway-input, #paypal-input, #crypto-input{
  width: 90%;
  display: flex;
  margin-bottom: 25px;
}
.credit-card-input input{
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-right: 5px;
}
.credit-card-input input:nth-child(1){
  width: 180px;
}
.credit-card-input input:nth-child(2),.credit-card-input input:nth-child(3){
  width:  80px;
}

#mbway-input input{
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-right: 5px;
  width: 100px;
}
