:root {
    --w: 100%;
}

.search {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.search-input {
    visibility: hidden;
    padding-left: 28px;
    width: 0;
    transition: visibility 0s, 1s;
    border-radius: 40px;
}

.search .search-btn:hover + .search-input {
    width: var(--w);
    visibility: visible;
}

.search-input:hover {
    width: var(--w);
    visibility: visible;
}

.search-input:hover ~ #shoppingcart,
.search-input:hover ~ #checkout,
.search-input:hover ~ #login {
    display: none;
}

.search .search-btn:hover ~ #shoppingcart,
.search .search-btn:hover ~ #checkout,
.search .search-btn:hover ~ #login {
    display: none;
}

.search .search-input:focus {
    width: var(--w);
    visibility: visible;
    position: relative;
    padding-left: 28px;
    outline: unset;
}

.search .search-input:focus + #shoppingcart,
.search .search-input:focus ~ #checkout,
.search .search-input:focus ~ #login {
    display: none;
}

.search-btn {
    position: absolute;
    margin-left: 7px;
    z-index: 10;
}

