.carousel{
    top: 120px;
    margin: 0 auto;
    max-width: 300px;
    max-height:250px;
    box-shadow: 5px 10px 18px #888888;
}

/* .benagil-btn{
    width: 110px;
    margin-left: 90px;
}
.titlebenagil{
    margin-left: 50px;
}
 */

