.mainCard{
    top: 100px;
    margin:0 auto;
    max-width: 300px;
    min-height: 300px;
    box-shadow: 3px 3px 20px #888888;
}

#mainCard {
    border: 1px solid #bbb;
}
 
#main-btn{
    background-color: #72af43;
}

.card-img-overlay{
    margin: 130px 0 0 155px;
}

.card-body{
    display: flex;
    justify-content: space-between;

}
.card-text{
    margin-left: 20px;

}
