.wrap-testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--laranja);
    padding: 2rem 2rem 0 2rem;
    height: 500px;
}

.teste-testimonials{
    display: flex;
    gap: 2rem;
}
.testimonials{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.testimonial-text{
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    padding:15px;
    display: flex;
    flex-direction: column;
}

.testimonial-text span{
    word-spacing: 2px;
}
.testimonial-text span:nth-child(1),
.testimonial-text span:nth-child(2){
    font-weight: bold;
    margin-bottom: 1rem;
}

.testimonial-text span:nth-child(1){
    font-size: 18px;
}

.testimonial-rate{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.testimonial-rate img{
    height: 25px;
}

.redirect-all-testimonials{
    background: #ffffff;
    border-radius: 30px;
    width: 270px;
    border: none;
    padding: 4px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 18px #000000;
    margin-top: 4rem;
    color: black;

}

.redirect-all-testimonials a,
.redirect-all-testimonials a:hover{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 670px) {
    .testimonials:nth-child(2){
        display: none;
    }
} 
@media screen and (max-width: 448px) {
    .testimonials:nth-child(2),.testimonials:nth-child(3){
        display: none;
    }
} 