.locations{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
    font-family: sans-serif;
}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location img{
    height: 180px;
    margin-bottom: 0.5rem;
}

.location span{
    font-size: 18px;
}

.redirect-all-locations{
    background: #ffffff;
    border-radius: 30px;
    width: 220px;
    border: none;
    padding: 4px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 18px #000000;
    margin: 3rem auto;
    color: black;

}

.redirect-all-locations a,
.redirect-all-locations a:hover{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 768px) {
    .location img{
        height: 150px;
    }

    .location span{
        font-size: 15px;
    }
}

@media screen and (max-width: 440px) {
    .location:nth-child(4){
        display: none;
    }

}

@media screen and (max-width: 376px) {
    .location:nth-child(3),.location:nth-child(4){
        display: none;
    }
}
