.signup-container{
    margin: 2rem auto;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    max-width: 440px;
}

.signup-title{
    background: var(--laranja);
    color: #000000;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.signup-logo{
    display: flex;
    justify-content: center;
}
.signup-logo img{
    height: 200px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
/* label{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
} */

.email-input , .password-input, .name-input, .nationality-input{
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    height: 35px;
    padding: 15px;
    margin-bottom: 30px;
}

.button-div{
    display: flex;
    justify-content: center;
}
.button-submit{
    width: 115px;
    margin-top: 30px;
    border-radius: 20px;
    background: var(--laranja);
    border: 1px solid var(--laranja);
    font-weight: bold;
    padding: 0.6rem;
}

.signup-redirect{
    margin: 20px 0;
    border-top: 1px solid #d3d3d3;
    padding-top: 15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-redirect a{
    text-decoration: none;
    color: black;
}

.signup-redirect a:hover{
    color: black;
}