.details-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  margin-left: 5%;
  width: 90vw;
  align-items: center;
  font-family: sans-serif;
}

.back{
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  align-self: flex-start;
}

.back::after {
  content: "Voltar";
  margin-left: 5px;
  vertical-align: text-top;
}

.back:hover{
  text-decoration: none;
  color: black;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.img-div{
  margin-bottom: 20px;
  width: 80%;
}
.img-div img{
  border-radius: 20px;

  width: 100%;
}

.details{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.title-price-div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.description, .duration, .localidade, .date-div, .horario, .reviews{
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.date-div{
  align-items: center;
}
.calendar{
  margin-left: 10px;
  background: none; 
  border: none;
}

.button-adicionar{
  background: var(--green-button);
  width: 80%;
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.button-adicionar:hover{
  background-color: var(--hover-button);
  cursor: pointer;
}
.add-to-cart{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.add-to-cart:hover{
  text-decoration: none;
  color: black;

}