.uk-slider-container-offset {
    margin: 130px 0 -39px 0;
}

.uk-card-body {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 220px;

}

.uk-card-media-top{
    display: flex;
    flex-direction:column ;
    align-items: center;
}

.card__image {
    width: 100%; 
    height: 150px; 
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.uk-card-title{
    font-size: .8rem;
    margin: 0.3rem 0;
    font-weight: bold;
}

#btn-book-slider{
    font-size: 13px;
}

.btn.btn-primary:hover{
    background-color: #72af43;
    color: black;
    border: none;
}

#btn-book-slider:focus{
    background-color: #72af43;

}