.uk-slider-container-offset{
    margin: 130px 0 -39px 0;
}


#btn-book-slider{
    font-size: 13px;
}

.btn.btn-primary:hover{
    background-color: #72af43;
    color: black;
    border: none;
}

#btn-book-slider:focus{
    background-color: #72af43;

}

.uk-card-media-top{
    display: flex;
    flex-direction:column ;
    align-items: center;
}

.uk-card-title{
    font-size: 18px;
    font-weight: bold;
}

.uk-card-body {
    border: 1px solid lightgray;
    border-radius: 25px;
    height: 220px;

}
